<html>
<head>
  <title>
    SD 3º Seminario
  </title>
  <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style1.css')}}">
  {{mymap.js}}   
</head>  

  <h1>
  <p>Mapa con marcadores de los tweets buscados<p/>
  </h1>  
  
<body>
  <div>
 
    <table BORDER=3  CELLPADDING=10 CELLSPACING=10>
      <tr>	
	<td>
	{{mymap.html}}
	</td>
	
	<td WIDTH=300 VALIGN=TOP>
	<br/>
	<p><b>Asignatura:</b> Sistemas Distribuidos</p>
	<br/>
	<p><b>Alumno:</b> Edson Castro Monterrosa</p>
	<br/>
	<p><b>Tercera entrega.</b></p>
	<br/>
	    <p>Para   esta   entrega   deberemos   haber   trabajado   ya   con   el  
	    API   de   Twitter,   y   haber   estado   atentos   en   el   Seminario  
	    sobre   ​
	    Flask   y   ​
	    Jinja2​
	    .   Los   grupos   deberán   entregar   el  
	    repositorio   donde   tenga   un   programa   en   Python,   que  
	    revise   las   direcciones   (latitud   y   longitud)   de   los   tweets   que  
	    cumplan   una   determinada   opción,   como   que   sea   el   más  
	    actual,   que   corresponda   a   alguna   afición   (equipo   de  
	    fútbol,   políticas..)   y   desplegar   esas   direcciones   en   un  
	    mapa utilizando la extensión de ​Flask ​para Google Maps.
	 </p>

	<br/>	
	</td>
	
	</tr>
     </talbe>
  </div>
</body>
</html>
